* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@font-face {
    font-family: belinda;
    src: url(belinda.otf);
}

#header {
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 590px;

}

.container{
    width: 800px;
    margin: 0 auto;
    border: 1px solid red;
}

.logo {
    font-size: 52px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;
    color: rgb(255, 255, 255);
    font-family: "belinda";
    font-weight: 200;

}

ul {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 16px;
}

li {
    display: inline-block;
    margin: 0 15px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;

}

h1 {
    color: rgb(255, 255, 255);
    font-size: 53px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.pHeader {
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    padding: 20px;
    /* margines wewnętrzny */
}

.butHeader {
    margin: 60px auto;
    display: block;
    width: 240px;
    height: 40px;
    background-color: #50c3af;
    outline: none;
    border: none;
    border-radius: 25px;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    transition: all 0.2s;
}

button:hover {
    background-color: #2d9684;
    font-weight: 900;
    transition: all 0.2s;
}

#second {
    background-color: #eeeeef;
    height: auto;
}

.col {
    display: inline-block;
    width: 30%;
    text-align: center;
    padding: 25px 15px;
}

h3 {
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    color: #40474e;
    padding: 15px 0;
}

.p2 {
    font-size: 14px;
    color: #787b80;
    padding: 15px 0;
}

#third {
    background-color: white;
    height: 490px;
}

h4 {
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    color: #40474e;
    padding: 15px 0;
    text-align: left;
}

.p3 {
    font-size: 14px;
    color: #787b80;
    padding: 15px 0;
    text-align: left;
}

.foto {
    display: inline-block;
    width: 300px;
    height: 150px;
    object-fit: cover;
   
}

.col2 {
    display: inline-block;
    text-align: center;
    margin: 55px 20px 50px 45px;
}

#third .but {

    display: block;
    width: 100px;
    height: 40px;
    background-color: #50c3af;
    outline: none;
    border: none;
    border-radius: 25px;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    transition: all 0.2s;
    margin: 35px 0 50px 0;

}

#fourth {
    background-color: #eeeeef;
    height: 300px;
    text-align: left;

}

#fourth .but1 {
    display: block;
    width: 100px;
    height: 40px;
    background-color: #eeeeef;
    outline: none;
    border: none;
    border-radius: 25px;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    transition: all 0.2s;
    margin: 35px 0 35px 45px;
}

.p4 {
    font-size: 14px;
    color: #787b80;
    margin: 35px 0 35px 45px;

}

h5 {
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    padding: 35px 45px;

}

#fifth {
    background-color: white;
    height: auto;
}

.foto1 {
    width: 150px;
    height: 150px;
}
a{
    color: #50c3af;
    font-size: 12px;
    text-decoration: none;
}
#sixthy{
    background-color: #eeeeef;
    height: auto;
}
#sixthy .but3{
    display: block;
    width: 100px;
    height: 40px;
    background-color: #50c3af;
    outline: none;
    border: none;
    border-radius: 25px;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    transition: all 0.2s;
    margin: 35px 0 35px 45px;
}
.col3{
        display: inline-block;
    width: 30%;
    text-align: left;
    padding: 25px 15px;
    width: 49%;
}
